.btn {
  color: white;
  border-radius: 12px;
  border: 0px;
  height: 40px;
}

.btn-card {
  background-image: linear-gradient(
    to right,
    #4b6cb7 0%,
    #0b1641 51%,
    #4b6cb7 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  &:hover {
    border: 0px;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.btn-primary {
  background-image: linear-gradient(
    to right,
    #000428 0%,
    #004e92 51%,
    #000428 100%
  );
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  display: block;
  &:hover {
    border: 0px;
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
